html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* font-family: 'Open Sans', sans-serif; */

/* Global Settings */
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 125%;
}
.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  width: 50%;
  color: beige;
}
h2 {
  font-size: 3.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
h3 {
  font-size: 2.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: white;
}
li {
  list-style: none;
}
img {
  width: 100%;
}

/* HEADER */

header {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 45, 45, 0.52),
      rgba(74, 141, 230, 0.3)
    ),
    url("./images/tractor6-1920.jpg");
  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav a {
  color: #202020;
}
nav li a:hover,
nav li a:focus-visible {
  /* scale: 1.2; */
  color: #0945fb;
  /* border-left: 1px solid #0945fb;
  border-bottom: 1px solid #0945fb;
  border-right: 1px solid #0d0d0d;
  border-top: 1px solid #0d0d0d; */
}
.returnToTop {
  visibility: none;
  opacity: 1;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* background-color: black; */
  padding: 15px;
  /* border-radius:  */
}
.arrow2 {
  width: 50px;
  height: 25px;
  background: rgba(129, 172, 228, 0.3);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  margin-top: auto;
  border-bottom: 0;
  text-align: center;
  align-self: center;
}
.arrow2 i {
  color: white;
  font-size: 1.5rem;
  transform: translateY(10%);
  animation-iteration-count: infinite;
  animation: 0.8s linear infinite alternate arrow2;
}
@keyframes arrow2 {
  from {
    transform: translateY(-45%);
  }
  to {
    transform: translateY(-71%);
  }
}

/*menu button*/

.menu-toggle {
  position: fixed;
  z-index: 999;
  right: 5%;
  top: 2rem;
  height: 2rem;
  width: 2rem;
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
}
.menu-toggle.active {
  transform: rotate(-180deg);
}
.menu-toggle span {
  background: white;
  width: 100%;
  height: 3px;
}

.menu-toggle.active span:nth-child(1) {
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header-nav.active {
  pointer-events: auto;
}
.nav-link.active {
  opacity: 1;
  transition: 0.5s;
  left: 0;
}
.nav-left {
  transition: 0.8s;
}
.nav-left.active {
  left: 0;
  transition: 0.5s;
}

.nav-right.active {
  left: 50%;
  transition: 0.5s;
}
.nav-link.active {
  opacity: 1;
  transition: 0.5s;
  left: 0;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}
.header-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.header-flex p {
  color: beige;
  font-size: 2.3rem;
  font-weight: 700;
}

.arrow {
  width: 200px;
  height: 100px;
  background: #81ace4;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  margin-top: auto;
  border-bottom: 0;
  text-align: center;
  align-self: center;
}
.arrow i {
  color: white;
  font-size: 3rem;
  animation-iteration-count: infinite;
  animation: 0.8s linear infinite alternate arrow;
  /* transform: translateY(-2%); */
}
@keyframes arrow {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(10%);
  }
}
/* About Section */
.about-section {
  background: #81ace4;
  padding: 40px 0;
}

.about-section h2 {
  text-align: center;
  color: #0d0d0d;
  padding-top: 20px;
}
.about-flex {
  display: flex;
  align-items: flex-start;
  padding: 40px 0;
}
.about-text {
  width: 75%;
  padding-left: 30px;
}

.about-text p {
  font-size: 1.4rem;
  color: #0d0d0d;
  line-height: 1.45;
  padding-top: 10px;
}
.about-image {
  width: 50%;
  padding-top: 10px;
}
/* Skill Section */
.skill-section {
  background: #0d0d0d;
  padding: 60px 0;
}
.skill-section h2 {
  color: #81ace4;
  text-align: center;
  padding-bottom: 40px;
  font-size: 4rem;
}
.skill-tree {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 60px;
  justify-self: center;
}
.skill-grid {
  justify-self: center;
}

.skill-text-icon-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  border-radius: 50%;
  background-color: #202020;
  width: 150px;
  height: 150px;
  /* padding: 13px; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.inner-skill-circle {
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(27, 88, 168, 1));
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}
.skill-text {
  transform: translateY(30%);
  text-align: center;
}
.skill i {
  color: black;
  font-size: 3rem;
}
.skill img {
  color: white;
}
.skill-text p {
  color: rgba(91, 147, 220, 0.8);
  font-size: 1.5rem;
}

/* Project Section  */
.project-section {
  background: #81ace4;
  height: 100%;
  transition: 0.5s;
}

.project-title {
  text-align: center;
  padding: 40px 0;
}
.carousel {
  position: relative;
  height: 550px;
  width: 90%;
  margin: 0 auto;
}

.carousel-track-container {
  overflow: hidden;
  height: 100%;
  background: rgba(20, 20, 20, 0.75);
  border: 10px solid black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  /* position: relative; */
}

.carousel-track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
  text-align: center;
}
.carousel-image {
  width: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
/* THIS IS WHATS INSIDE THE CAROUSEL */
.inside-container {
  display: flex;

  padding: 20px;
}

.carousel-image-container {
  width: 65%;

  margin-right: 5px;
}
/* .carousel-text-container { */
/* } */
.carousel-text-container {
  line-height: 1.35;
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-icon {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  color: white;
}

.carousel-icon-container {
  margin-bottom: 3px;
}

.skill-carousel {
  border-radius: 50%;
  background-color: #202020;
  width: 75px;
  height: 75px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-skill-circle-carousel {
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(27, 88, 168, 1));
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

.skill-carousel i {
  font-size: 1.4rem;
  color: black;
}
h5 {
  color: white;
}
.carousel-icon-flex {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 30px;
  flex-wrap: wrap;
}
.carousel-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
}
.carousel-links a {
  padding: 0 10px;
}
.carousel-links a:hover,
.carousel-links a:focus {
  color: #81ace4;
}

/* END OF WHATS INSIDE */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
}
.carousel-left {
  left: -50px;
  cursor: pointer;
}
.carousel-right {
  right: -50px;
  cursor: pointer;
}

.carousel-button i {
  font-size: 2rem;
}
.carousel-nav {
  background: #81ace4;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 80%;
  margin: 0 auto;
}
.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background: rgba(32, 32, 32, 0.3);
  cursor: pointer;
}
.carousel-indicator.current-slide {
  background: rgba(20, 20, 20, 0.75);
}
.hidden {
  display: none;
}

/* FORM section */
.form-section {
  background: #202020;
  padding-top: 100px;
}
.form-section h3 {
  color: white;
}
.form-flex {
  display: flex;
  /* align-items: center; */
}
.form-text {
  width: 55%;
  padding-top: 30px;
  color: #ffffff;
  width: 45%;
  /* font-size: 1rem; */
}
.form-text p {
  font-size: 1rem;
  line-height: 1.15;
  margin-left: 15px;
}

/* FOOTER  */
footer {
  background: #202020;
  padding-top: 50px;
}
footer h3 {
  color: white;
  padding-bottom: 15px;
}
.footer-center {
  text-align: center;
  padding: 20px 0;
}

.footer-icon-flex {
  display: flex;
  width: 10%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
}
.footer-icon-flex i {
  font-size: 2rem;
  padding-right: 20px;
}
.footer-icon-flex i:hover,
footer a:hover,
.footer-icon-flex i:focus,
footer a:focus {
  color: #81ace4;
  transform: scale(1.2);
}
footer p {
  color: #81ace4;
  font-size: 0.8rem;
  text-align: right;
  padding-top: 15px;
}
/* MEDIA   */
@media (max-width: 883px) {
  /* HEADER MENU */

  .header-nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    pointer-events: none;
  }
  .arrow {
    height: auto;
  }
  .menu-toggle {
    display: flex;
  }
  .nav-link {
    position: relative;
    left: 10%;
    opacity: 0;
  }

  .nav-left ul {
    position: relative;
    top: 35%;
    left: 10%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-left {
    margin: 0;
    position: relative;
    z-index: 10;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background: #81ace4;
    transition: 0.8s;
  }
  .nav-left ul li a {
    color: #202020;
  }
  .nav-right {
    position: absolute;
    z-index: 9;
    left: -50%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: black;
    transition: 0.8s;
  }
  .nav-wrapper {
    display: none;
  }
  /*ABOUT SECTION */

  .about-flex {
    display: block;
  }
  .about-image {
    width: 100%;
  }
  .about-text {
    width: 100%;
    padding: 0;
  }
  /*END OF ABOUT SECTION*/
  /* CAROUSEL STYLING*/
  .carousel {
    height: 560px;
  }
  .inside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 10px 20px;
  }
  .carousel-image-container {
    width: 90%;
  }
  .carousel-text-container {
    width: 100%;
    text-align: left;
  }
  .carousel-text-container p {
    font-size: 0.8rem;
    text-align: center;
    padding: 5px 0;
  }
  .carousel-icon-flex {
    padding-top: 3px;
  }
  .carousel-links {
    align-items: center;
    padding-top: 4px;
  }
  .carousel-links a {
    font-size: 0.8rem;
  }
  /*FOOOTER */
  footer p {
    text-align: center;
  }
}
@media (max-width: 660px) {
  /*TOOL BOX SECTION*/
  .skill-tree {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 30px;
  }
  .skill {
    width: 100px;
    height: 100px;
  }
  .inner-skill-circle {
    height: 75px;
    width: 75px;
  }
  .skill i {
    font-size: 2rem;
  }
}
.skill-text p {
  font-size: 1.2rem;
}

.project-title {
  font-size: 2.5rem;
}

@media (max-width: 575px) {
  /* ABOUT SECTION*/

  .about-text p {
    font-size: 1rem;
  }
  /* ABOUT SECTION ENDS*/
  /* Carousel SECTION*/
  .carousel {
    height: 470px;
  }
  .carousel-right {
    right: -41px;
  }
  .carousel-left {
    left: -41px;
  }
  .carousel-image-container {
    width: 100%;
  }
  .skill-carousel {
    width: 50px;
    height: 50px;
  }
  .skill-carousel i {
    font-size: 1.2rem;
  }
  .inner-skill-circle-carousel {
    width: 35px;
    height: 35px;
  }
  .carousel-links {
    padding-top: 10px;
  }
  .carousel-icon-flex {
    padding-top: 20px;
  }
}

@media (max-width: 460px) {
  /*header*/
  h1 {
    font-size: 3rem;
  }
  .header-flex p {
    font-size: 1.7rem;
  }
  /*toolbox */
  .skill-section h2 {
    font-size: 3rem;
  }
  .carousel-right {
    right: -25px;
    color: white;
  }
  .carousel-left {
    left: -25px;
    color: white;
  }
  .project-title {
    font-size: 1.7rem;
  }
  .about-section h2 {
    font-size: 2.7rem;
  }
}

@media (max-width: 400px) {
  .skill-tree {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  }
  .skill-text p {
    font-size: 0.8rem;
  }
}
